.header__title {
	margin: 45px 0 0 0;
	font-size: 72px;
	font-weight: 700;
	line-height: 78px;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
    letter-spacing: 7.2px;
    text-align: center;
	color: #f4f5f9;
	animation: enlargement 1s ease-out;
}

@keyframes enlargement {
	0% {
		opacity: .2;
	}

	25% {
		opacity: .4;
	}

	50% {
		opacity: .6;
	}

	75% {
		opacity: .8;
	}

	100% {
		opacity: 1;
	}
}