.portfolio__filter a {
    color: #999999;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.portfolio__filter a:hover {
    color: #e74c3c;
    font-weight: 700;
    text-decoration: none;
}

.portfolio__filter span {
    margin: 0 18px;
}

.portfolio__filter {
    margin: 60px 0 45px;
}