* {
	box-sizing: border-box;
}

body {
    min-height: 1280px;
    font-family: sans-serif;
	font-size: 24px;
    text-align: center;
    background: #010101 url(../img/bg.jpg) 50% 0% no-repeat;
	color: #fffeff;
  	text-shadow: 
  		   0 1px 0 #ccc, 
           0 2px 0 #c9c9c9,
           0 3px 0 #bbb,
           0 4px 0 #b9b9b9,
           0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.1),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.55),
           0 10px 10px rgba(0,0,0,.8),
           0 20px 20px rgba(0,0,0,.15);

}

section {
    padding-top: 80px;
    max-width: 1200px;
    margin: 0 auto;
    
}

/* FORM */

form {
	margin: 100px 0;
    max-width: 1200px;
    margin: 0 auto;
	padding: 40px;
	border-radius: 10px;
	background: linear-gradient(to bottom, rgb(132, 118, 112, 0.25) 0%,
										   rgba(0,0,0,0.4) 100%);
}

.form__fieldset {
    border: none;
}

.input__width--numcol,
.input__width--namecol {
    display: inline-block;
}

.input__width {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.input__width,
input[type="submit"] {
    width: 100%;
}

input {
    display: inline-block;
    width: 45%;
    min-width: 430px;
	padding: 15px 20px 14px;
	background-color: transparent;
	border: 1px solid #999999;
	color: #fff;
	font-size: 36px;
    font-weight: 300;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

input::placeholder {
	font-family: sans-serif;
	color: #fff;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    
}

#valid-num,
#valid-name {
    margin-top: 20px;
}

input[type="submit"] {
	
	background: linear-gradient(to right top, #555555 0%, #878787 100%);
    border-radius: 3rem;
    color: #e5e5e5;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: 0.16px;
	padding: 22px 0;
	transition-duration: .2s;
	border: 1px solid #999999;
	font-size: 36px;
    box-shadow: -1px 1px 2px black;
    box-shadow: 0 2px 16px 0 black;
    text-shadow: 1px 1px 2px black;
}

input[type="submit"]:hover {
    font-family: sans-serif;
	background:#333333;
	border: 0.1px solid green;
    cursor: pointer;
    transition: 0.2s ease-out;
    box-shadow: -1px 1px 2px gray;
    box-shadow: 0 2px 16px 0 gray;
}

table {
    min-width: 1200px;
    margin: 0 auto;
	padding: 40px;
	border-radius: 10px;
	background: linear-gradient(to top, rgb(132, 118, 112, 0.2) 0%,
										   rgba(0,0,0,0.5) 100%);
}

tr {
	border-bottom: 1px solid #999999;
}

td {
	padding: 20px;
	background-color: transparent;
	color: #fff;
	font-size: 36px;
    font-weight: 300;
    text-align: center;
	font-family: sans-serif;
	color: #fff;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

tr:last-child {
	border: none;
}

/* footer {
    margin-top: 20px;
    height: 100px;
    box-shadow: 0 0px 50px 50px #010101;
    background: #010101;
} */